{% include 'base/css.html' %}
{% include 'base/js.html' %}

{% block content %}
<div class="container">
  <div class='row'>
    <div class='col-md-4 col-10  mx-auto mt-5'>
      <div class="card mb-5" style="width: 25rem;">
        <div class="card-body">
          <h5>Reset Password</h5>
          <hr>
          <form method='post' action=''>
            {% csrf_token %}
            <p><label for="id_email">Email Address:</label>
              <input class="form-control password_set_input" type="email" name="email" maxlength="254" required="" id="password_set_input"
                placeholder="Enter Your Registered Email."></p>

            <span style="margin-bottom: 12px;"></span>
            <button type="submit" class="btn btn-block btn-default password-reset-btn">Reset Password</button>

          </form>
        </div>
      </div>
      <a class="link-a" href="{% url 'home' %}">Go Back To Home</a>
    </div>
  </div>
</div>



{% endblock %}