{% include "base/css.html" %}
{% block content %}
<div class='row'>
      <div class="col-12 py-5 mt-5">

            <div class="card text-white bg-info mb-3" style="max-width: 25rem;margin: 0 auto;">
                  <div class="card-header text-center"></div>
                  <div class="card-body">
                        <h5 class="card-title">Success Password Changed</h5>
                        <p class="card-text">Now you can sign with your new account...That's great..</p>
                  </div>
            </div>

      </div>
      <a href="{% url 'home' %}" class="link-a" style="margin:0 auto;">Go Back To Home</a>
</div>

{% endblock %}