{% include 'base/css.html' %}
{% include 'base/js.html' %}


{% block content %} 
<div class="container">
<div class='row'>
  <div class='col-md-4 col-10  mx-auto mt-5'>
    <div class="card mb-5" style="width: 35rem;">
      <div class="card-body">
        <h4>Set your Password</h4><hr>
        <form method='post' action=''>{% csrf_token %}
          
          <p><label for="id_new_password1">New password:</label>
            <input type="password" class="form-control password_set_input" placeholder="Set Pew Password" name="new_password1" required="" id="id_new_password1">
            <span class="helptext" ></span>
          </p>
        <div style="font-size:13px;color:grey; margin-left:20px;">
           <i>i</i>. Your password can't be too similar to your other personal information.<br>
           <i>i</i>. Your password must contain at least 8 characters.<br>
           <i>i</i>. Your password can't be a commonly used password.<br>
           <i>i</i>. Your password can't be entirely numeric.<br>
        </div>
         
          </ul>
          <p></p>
          <p><label for="id_new_password2">New password confirmation:</label> <input type="password"
              name="new_password2" class="form-control password_set_input" placeholder="Set Pew Password" required="" id="id_new_password2"></p>
          <span style="margin-bottom: 12px;"></span>
          <button type="submit" class="btn btn-block btn-default password-reset-btn">Set new password</button>
        </form>
      </div>
    </div>
    <a class="link-a" href="{% url 'home' %}">Go Back To Home</a>
  </div>
</div>
</div>
{% endblock %}