{% include 'base/css.html' %}
{% include 'base/js.html' %}


{% block content %}
<div class="container">
      <div class='row'>
            <div class="col-12 text-center py-5">
                  <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>Reset Instructions Sent.</p>
                        <hr>
                        <p class="mb-0">You can change your password for security reasons or reset it if you forget it.
                              Your Google Account to do a factory reset. Learn how to protect your device.To request
                              another email, follow the steps to recover your account. <span
                                    style="border-bottom: 2px solid #F57C00;">Please Check your <a class="link-a"
                                          href="https://www.gmail.com">email</a></span>
                        </p>
                  </div>
            </div>
      </div>
</div>

{% endblock %}