{% extends 'base.html' %}
{% block title %}{{ block.super }}-success{% endblock title %}
{% block content %}
<div class="container mt-3">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully complete this important order. You will get it within 3 working days.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</div>
{% endblock content %}