
{% load static %}
<!-- bootstrap css link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic-ext" rel="stylesheet">

<!-- fontawesome css -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- payment-style -->
<link rel="stylesheet" href="{% static 'static/css/payment-style.css' %}" >

<!-- lightbox -->
<link rel="stylesheet" href="{% static 'static/css/lightbox.min.css' %}">

<!-- jquery confirm -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<!-- custom css  -->
<link rel="stylesheet" href="{% static 'static/css/style.css' %}">


<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

